html,body {
    background-color:#33322d;
    height: 100%;
    width: 100%;
    font-family: 'Rambla', sans-serif;
}

.text
{
  padding-bottom: 10px;
  font-size: 15px;
  color: #14ebff;
}

#mainPage{
  float: left;
  width: 100%;
  height: 100%;
}

#userDiv
{
  width: 100%;
  height: 5%;
  border-bottom: 1px solid;
  margin-bottom: 5px;
  border-color: gray;
}

#dataDiv
{
  width: 100%;
  height: 95%;
}

#mainPageLeftPanel
{
  float: left;
  width: 35%;
  height: 100%;
	overflow:auto;
}

#verticalLineDiv
{
  float: left;
  width: 3%;
  height: 99%;
}

.verticalLine
{
  float: left;
  width: 1px;
  height: 100%;

}

#mainPageRightPanel
{
  float: left;
  width: 60%;
  height: 100%;
  overflow:auto;
}

#selectDeviceLabel
{
  -webkit-margin-after: 0em;
}

#devicesTable
{

}

input[type="image"]:focus {
    outline: none;
}
