html,body {
    background-color:#33322d;
    height:100%;
    font-family: 'Rambla', sans-serif;
}

#mainPage{
  float: left;
  width: 100%;
  height: 100%;
}

#userDiv
{
  width: 100%;
  height: 5%;
}

#dataDiv
{
  width: 100%;
  height: 95%;
}

#mainPageLeftPanel
{
  float: left;
  width: 35%;
  height: 100%;

}

#verticalLineDiv
{
  float: left;
  width: 3%;
  height: 99%;
}

.verticalLine
{
  float: left;
  width: 2px;
  height: 100%;
}

#mainPageRightPanel
{
  float: left;
  width: 65%;
  height: 100%;
}

#selectDeviceLabel
{
  -webkit-margin-after: 0em;
}

#devicesTable
{

}
