/* Map div */
#map
{
	height: 85%;
	width: 60%;
	float: left;
	border: 2px solid blue;
	margin: 10px;
  margin-bottom: 15px;
}

.markerPopup
{
  color: #14ebff;
  background-color: #565650;
}

.markerPopupTitle {
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 22px;
   font-weight: 400;
   padding: 10px;
   background-color: #48b5e9;
   color: white;
   margin: 1px;
   border-radius: 2px 2px 0 0; /* In accordance with the rounding of the default infowindow corners. */
}

.markerPopupContent
{
  padding-left:0.5em;
  width: 150px;
  height: 80px;
}
